/* display image code ------------------------------------------------------------------------------------ */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0px 2px 4px #ffe9c5;
}

.heading {
    color: #fa9191;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0px 2px 4px #ffe9c5;
    margin: 50px;
    font-family: 'josefin sans', 'sans-serif';
}

.img_div {
    display: flex;
    justify-content: center;
}

.img_div img {
    width: 250px;
    height: 300px;
} */

/* for greeting CSS ------------------------------------------------------ */
/* body{
    background-color: #b4f2e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: "josefin Sans", sans-serif;
}
.div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
h1{
    background-color: antiquewhite;
    margin: 308px;
    padding: 20px 20px;
    color: #fa9191;
    border-radius: 20px;
} */
/* for Netflix series CSS ------------------------------------------------------ */
/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #d2dbdd;
}
.heading_style{
    padding: 30px 0;
    text-align: center;
    font-family: "Raleway",sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cards{
    width: 20%;
    height: auto;
    padding-top: 15px;
    padding-left: 64px;
    border-radius: 2px;
}
.card{
    height: auto;
    width: 100%;
}
.card__img{
    width: 100%;
    height: 140px;
}
.card__info{
    background-color: #fff;
    box-sizing: border-box;
} */
/* for Hooks  CSS ------------------------------------------------------ */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   background-color: #d2dbdd;
   font-family: "josefin Sans","Arial Narrow",Arial, sans-serif;
}
h1{
    color: white;
    background: transparent;
    text-shadow: 0.2px 2px black;
}
p{
    color: white;
    background: transparent;
    text-shadow: 0.2px 2px black;
}
div{
    width: 100%;
    height: 100vh;
    background: #8e44ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 12px 20px;
    background: #9b59b6;
    color: white;
    border: 2px solid #ecf0f1;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: 20px 0;
    text-align: center;
    font-family: cursive;
    font-size: initial;
} */

/* for Todolist CSS ------------------------------------------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: "josefin Sans","Arial Narrow",Arial, sans-serif;
}
body{
   background-color: #5f8ace;
}
input{

    text-align: center;
    height: 30px;
    top: 10px;
    border:  none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
    font-weight: bold;
    color: #8566aa;
} 
.main_div{
    width: 100%;
    height: 100vh;
    background: #6983aa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.center_div{
    width: 25%;
    height: 80vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 15px;
    margin-top: 25px;
}
h1{

    color: white;
    background: transparent;
    background-color: #8566aa;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
button{
    min-height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #8566aa;
    color: #fff;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
button:hover{
    background-color: #20bf6b;
}

ol{
   margin-top: 30px;
   height: 355px;
   overflow: auto;
}
ol li{
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;
    font-weight: bold;
}

.todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.todo_style .fa-times{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 5px;
    margin: 0 15px 0 35px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}